<div id="page-content">
<div class="container" id="home-container">
    <div class='jumbotron text-center text-black'
        <h1 class="display-4">Alpha Blog</h1>
        <p class="lead">Ejemplo</p>
        <hr class="my-4">
        <p>Ejemplo</p>
        <p class="lead">
            <a class="btn btn-success btn.lg" href="#" role="button">Sign Up!</a>
        </p>    
    </div>
</div>

</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Mashrur Hossain", "https://mashrurhossain.com" , class: "text-white" %></small>
    </div>
</footer>

